root=true

############################### 
# Core EditorConfig Options   # 
############################### 
# All files 
[*]
indent_style=tab
indent_size=4
trim_trailing_whitespace=true
end_of_line=lf
charset=utf-8

[*.{cs}]
insert_final_newline=false

[*.{md,mkdn}]
trim_trailing_whitespace = true
indent_style = space